MYSQL_DATABASE=crusher
MYSQL_ROOT_PASSWORD=root

SERVER_PORT=8081
DDL_AUTO=update
JWT_SECRET=ChangeThisJwtSecretKeyForLocalDevelopmentOnly
JWT_EXPIRATION=86400000
CORS_ALLOWED_ORIGINS=http://localhost:3000
VITE_API_URL=http://localhost:8081